header {
	display: flex;
	padding: 0px 10%;
	height: 80px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 -5px 10px 0px;
}


@media (hover: hover) and (pointer: fine) {
	header {
		background-color: rgba(255, 255, 255, 0.5);
		transition: all ease 0.8s;
	}
	  
	header:hover {
		background-color: rgba(255, 255, 255, 0.9);
		box-shadow: 0 0 10px 0px;
		transition: all ease 0.4s;
	}
}


header nav {
	width: 70%;
	margin: auto;
}

header div {
	width: 30%;
	text-align: right;
	margin: auto;
}


header a {
	margin: 0px 20px;
	color: rgba(0, 0, 0, 0.8);
	font-family: Impact, fantasy;
	font-size: 20px;
}

@media (hover: hover) and (pointer: fine) {
	header a {
		color: rgba(0, 0, 0, 0.3);
		transition: all ease 0.4s;
	}

	header a:hover {
		color: rgb(0, 0, 0, 1);
		transition: all ease 0.4s;
	}
}