@media only screen and (max-width : 768px) {
	main {
		text-align: center;
        margin: 50px;
        display: block;
	}
	main form {
		text-align: center;
        width: auto;
        margin: 0;
	}

	.mainform {
		width: auto;
	}

	header nav {
		visibility: hidden;
	}
}