<header>
    <div class="header-div" id="header">
		<div class="logo-container">
			<a href="/"> <img src="img/icons/Grouplove_Logo.webp"> </a>
		</div>
		
        <nav class="header-navigators">
			<a href="/discography">Discography</a>
			<a href="/members">Band members</a>
		</nav>
	</div>
</header>