<footer>
    <div>
        <a href="https://www.youtube.com/" target="_blank"><img src="/img/youtube.svg"></a>
        <a href="https://www.google.ru/" target="_blank"><img src="/img/google.svg"></a>
        <a href="https://github.com/" target="_blank"><img src="/img/github.svg"></a>
    </div>
</footer>