<!DOCTYPE html>
<html lang="en">
<head>
     <title>Заголовок</title>
     <meta charset="utf-8">
     <meta description="template code">
     <meta keyword="template, test">
</head>
<body>
     <div class="page">
     	<header class="header">
     		<div class="header-container">
     			<h1>The neighbourhood</h1>
        </div>
     </header>
     <main class="content">
        <div class="content-container">
            <section class="image">
                <div class="image-container">
                   <img src="../img/nei.png" alt="">
                </div>
                <nav class="menu">
                	<ul>
                	<li><a href="#brief">Brief</a></li>
                	<li><a href="#bio">Bio</a></li>
                	<li><a href="#activity">Activity</a></li>
                	<li><a href="#links">Links</a></li>
                    </ul>
                </nav>
            </section>
            <section class="brief">
            	<h2 id="brief" class="sectionText">brief</h2>
            	<p class="mainText">Loremndjvnjvdnjvn</p>
            </section>
            <section id="bio" class="bio">
            	<h2 class="sectionText">bio</h2>
            	<p class="mainText">Loremndjvnjvdnjvn</p>
            </section>
            <section class="activity">
            	<h2 id="activity" class="sectionText">activity</h2>
            	<p class="mainText">Loremndjvnjvdnjvn</p>
            </section>
            <section class="links">
            	<h2 id="links" class="sectiomText">links</h2>
                <ul>
                <u1><a href="">Link</a></li>
                <u1><a href="">Link</a></li>
                <u1><a href="">Link</a></li>
                </ul>    
            </section>

            
        </div>
        
    </main>
    <footer class="footer">
         <div class=footer-container>
             <p class="copyright">Copyright</p>
         </div>
    </footer>
   </div>                        
</body>
</html>