body {
    overflow-y: scroll;
	height: 100vh;
	display: flex; 
	flex-direction: column;
}

a {
	user-select: none;
    text-decoration: none;
}

h1, h2 {
	font-family: Koulen;
}

p {
	font-family: Nunito-Light;
}

.main { padding: 5vh 15vw; }