<main>
    <div class="img-person">
        <img src="/img/Джинкс.jpg">
    </div>

    <div class="info">
        <p>
            Джинкс (англ. Jinx), урождённая Паудер (англ. Powder) — вымышленный персонаж из игры League of Legends, разработанной
            Riot Games, а также мультсериала «Аркейн» 2021 года, производства Netflix. Прозванная Безбашенной хулиганкой за свой
            маниакальный и импульсивный характер, Джинкс является преступницей из Зауна, а также младшей сестрой и заклятым врагом
            пилтоверского миротворца Вай. Будучи опытным стрелком и изобретателем, Джинкс обладает обширным боевым арсеналом,
            включая: огнестрельное оружие, взрывчатые вещества и высокотехнологичные устройства.
        </p>
        <p>
            Героиня получила широкое признание среди критиков и фанатов игры. С выходом «Аркейн», Джинкс закрепила свой статус
            одного из самых популярных персонажей франшизы League of Legends
        </p>

        <h2> Род занятий </h2>
        <p> Преступница </p>

        <h2> Семья </h2>
        <ul>
            {{#each users}}
                <li><a href="/users/{{id}}">{{name}} {{position}}</a></li>
            {{/each}}
        </ul>
    </div>
</main>