
<main>
    <div class="img-person">
        <img src="/img/{{user.name}}.jpg">
    </div>

    <div class="info">
        <h2>Имя</h2>
        <p>{{user.name}} {{user.position}}</p>
        
        {{#if user.ocpt}}
            <h2>Род занятий</h2>
            <p>{{user.ocpt}}</p>
        {{/if}}
    </div>
</main>